.sortdiv{
    display: flex;
    justify-content: space-between;
}
.sortdiv h1{
    font-size: 24px;
    font-weight: 600;
    margin-left: 19px;
}
.sortdiv h3{
    font-size: 16px;
    margin-top: 6px;
}
.sortsection{
    display: flex;
  
    gap:20px;

}
.menubtn{
    text-align: left;
    margin-right: 33px;
    width: 28px;
}