* {
  margin: 0;
  padding: 0;
}

#crave {
  color: rgb(255, 100, 90);
}

#tophead {
  padding: 75px;
  /* position: absolute; */
}

#searchbar {
  margin-top: -145px;
  width: 100%;
  height: 560px;
  background-size: 200%;
  background-image: url(https://im1.dineout.co.in/images/uploads/misc/2021/Mar/31/oldherobannerwebfinal_bau.jpg);
}

#head {
  color: #fff;
  position: absolute;
  top: 270px;
  margin-left: 32%;
  font-size: 40px;
  font-weight: 700;
  background-color: transparent;
}
#crave {
  position: absolute;
  top: 270px;
  margin-left: 53%;
  font-size: 40px;
  font-weight: 700;
  background-color: transparent;
}

#SearchDiv {
  margin-left: 18%;
  border-radius: 5px;
  padding: 7px;
  display: flex;
  background-color: white;
  width: 1000px;
  height: 70px;
  margin-top: -70px;
  margin-right: 50px;
  position: absolute;
  top: 400px;
}

#searchlogo {
  size: 10px;
  max-width: 50%;
  max-height: 50%;
  margin-left: 10px;
  margin-top: 12px;
}

#inptag::placeholder {
  font-size: 17px;
}

#inptag {
  padding-left: 15px;
  width: 490%;
  margin-left: 10px;
  outline: none;
  border-left: none;
  border-bottom: none;
  border-top: none;
  border-right: none;
}

#searchbtn {
  background-color: #ff645a;
  border-radius: 3px;
  border: none;
  color: white;
  margin-left: 80px;
  margin-right: 10px;
  margin-top: 7px;
  width: 900px;
  height: 45px;
  text-align: center;
}

#searchbtn:hover {
  background-color: red;
}

#offerdiv {
  display: flex;
  gap: 20px;
  padding-left: 13%;
  background-color: rgb(243, 243, 243);
}

.offerimage > a > img {
  height: 170px;
}

.offerimage {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  size: 50px;
  margin-bottom: 55px;
}

.headingh2tag {
  font-size: 24px;
  font-family: Metropolis, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 750;
  line-height: 29px;
  color: #333333;
  text-align: start;
  margin-left: 13%;
  margin-bottom: 10px;
  margin-top: 40px;
}

#bestoffer {
  font-size: 24px;
  font-family: Metropolis, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 700;
  line-height: 29px;
  color: #333333;
  text-align: start;
  padding-left: 13%;
  background-color: rgb(243, 243, 243);
  height: 50px;
  padding-top: 10px;
  margin-top: 0px;
}

#resnearU {
  margin-left: -880px;
  height: 50px;
  padding-top: 39px;
  margin-top: 0px;
  font-size: 24px;
  font-family: Metropolis, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 700;
  line-height: 29px;
  color: #333333;
}
.productdetail {
  background-color: transparent;
}

#featuredresh2 {
  margin-left: -880px;
  height: 50px;
  padding-top: 39px;
  margin-top: 0px;
  font-size: 24px;
  font-family: Metropolis, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 700;
  line-height: 29px;
  color: #333333;
}

.rettingbtn {
  background-color: #8cbb0f;
  color: white;
  padding: 4px 7px;
  border: none;
}

#Nearresturant {
  display: flex;
  justify-content: center;
  gap: 17px;
  margin-bottom: 50px;
}

#content {
  text-align: start;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.resturantdiv {
  height: 270px;
  border-radius: 5px;
  width: 270px;
  overflow: hidden;
}

.resturantdiv:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.resturantdiv > img {
  width: 100%;
  height: 150px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
}

.resturantdiv > img:hover {
  transform: scale(1.1);
}
